.about-text {
    max-width: 1000px;
    font-size: 22px;
    margin: 20px auto;
}
.about {
    background-color: rgb(10, 140, 255);
    color: #ffffff;
}

.about a {
    text-decoration: underline!important;
    color: #ffffff!important;
}

.about a:hover {
    text-decoration: none!important;
}

.about-image {
    max-width: 600px;
    width:100%;
}
