* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin:0;
}

.color-white {
  color:white;
}

.page{
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.page_title {
  margin-bottom: 10px;
}

.page_subtitle {
  margin-bottom: 30px;
}
