.about-text {
    max-width: 1000px;
    font-size: 22px;
    margin: 20px auto;
}

.about a {
    color: #3f51b5;
    text-decoration: underline!important;
}

.about a:hover {
    color: #3f51b5;
    text-decoration: none!important;
}

.about-image {
    max-width: 600px;
    width:100%;
}
